.panel.panel-primary
  / Default panel contents
  .panel-heading
    %h4.panel-title Search Results
  .panel-body
    %p We found #{pluralize(@search_results.count, 'business')} related to your search:
  / List group
  .list-group
    = render @search_results
