.panel.panel-primary
  .panel-heading
    %h4.panel-title Log in to add reviews and see user profiles.
  .panel-body
    =form_tag sessions_path, class: 'form form-horizontal' do
      .form-group
        %label.col-sm-2.control-label(for="inputEmail3") Email
        .col-sm-10
          %input#inputEmail3.form-control(placeholder="Email" type="email" name="email")
      .form-group
        %label.col-sm-2.control-label(for="inputPassword3") Password
        .col-sm-10
          %input#inputPassword3.form-control(placeholder="Password" type="password" name="password")
      .form-group
        .col-sm-offset-2.col-sm-10
          %button.btn.btn-primary(type="submit") Log In
