.panel.panel-primary
  .panel-heading
    %h4.panel-title Register your business on yelpr!
  .panel-body
    %form.form-horizontal
      .form-group
        %label.col-sm-2.control-label(for="inputEmail3") Business Name
        .col-sm-10
          %input#inputEmail3.form-control(placeholder="Name" :type="string")
      .form-group
        .col-sm-offset-2.col-sm-10
          %button.btn.btn-primary(type="submit") Sign Up
