.panel.panel-primary
  / Default panel contents
  .panel-heading
    %h4.panel-title Search Results
  .panel-body
    %p We found 5 businesses that match your search:
  / List group
  .list-group
  %a.list-group-item(href="")
    %h5.list-group-item-heading 1. Nintendo
    %p.list-group-item-text <em>Smash 4 is a great game on the Wii U!</em>
  %a.list-group-item(href="")
    %h5.list-group-item-heading 2. Microsoft
    %p.list-group-item-text <em>Microsoft is catching up quickly in terms of modern development support!</em>
  %a.list-group-item(href="")
    %h5.list-group-item-heading 3. Apple
    %p.list-group-item-text <em>Apple laptops continue to shine, generally.</em>
  %a.list-group-item(href="")
    %h5.list-group-item-heading 4. Facebook
    %p.list-group-item-text <em>React Native is a game-changer for mobile development!</em>
  %a.list-group-item(href="")
    %h5.list-group-item-heading 5. Docker
    %p.list-group-item-text <em>Docker makes Immutable Infrastructure more attainable</em>
