.list-group
%a.list-group-item(href="/ui/home")
  %h5.list-group-item-heading Home
%a.list-group-item(href="/ui/register")
  %h5.list-group-item-heading Register
%a.list-group-item(href="/ui/login")
  %h5.list-group-item-heading Login
%a.list-group-item(href="/ui/user_profile")
  %h5.list-group-item-heading User Profile
%a.list-group-item(href="/ui/add_business")
  %h5.list-group-item-heading Add Business
%a.list-group-item(href="/ui/business_search_results")
  %h5.list-group-item-heading Business Search Results
%a.list-group-item(href="/ui/business_profile")
  %h5.list-group-item-heading Business Profile
%a.list-group-item(href="/ui/recent_reviews")
  %h5.list-group-item-heading Recent Reviews
