.panel.panel-primary
  / Default panel contents
  .panel-heading
    %h4.panel-title Recent Reviews:
  .panel-body
    / List group
    .list-group
      %a.list-group-item(href="/")
        %h5.list-group-item-heading 1. Nintendo
        %p.list-group-item-text <em>Cras justo odio.</em> – 24 Jan 2016
      %a.list-group-item(href="/")
        %h5.list-group-item-heading 2. Apple
        %p.list-group-item-text <em>Cras justo odio.</em> – 10 Jan 2016
      %a.list-group-item(href="/")
        %h5.list-group-item-heading 3. Sony
        %p.list-group-item-text <em>Cras justo odio.</em> – 7 Jan 2016
      %a.list-group-item(href="/")
        %h5.list-group-item-heading 4. Samsung
        %p.list-group-item-text <em>Cras justo odio.</em> – 1 jan 2016
